/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.top-bar {
    background: #f4f4f4;
    padding: 10px;
    text-align: center;
}

.language-buttons {
    margin: 10px 0;
}

.language-buttons button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin: 0 5px;
}

.language-buttons button.active {
    background-color: #0056b3;
}

.hero {
    position: relative;
    height: 100vh;
    background: url('./images/hero-background.jpg') no-repeat center center fixed;
    background-size: cover;
    z-index: -1;
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.products-section {
    padding: 20px;
}

/* Carousel styles */
.carousel {
    position: relative;
    width: 300px;
    height: 200px;
    margin: 30px auto;
    overflow: hidden;
    border: 2px solid #fff;
}

.carousel-container {
    display: flex;
    width: 100%;
    height: 100%;
}

.carousel-container a {
    display: block;
    width: 50%;
    height: auto;
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.carousel img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.carousel-container a.active {
    opacity: 1;
    animation: fadeInRight 6s ease-in-out forwards;
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    33.33% {
        opacity: 1;
        transform: translateX(0);
    }
    66.67% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(-100%);
    }
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.5);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}
