@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anaheim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bilbo&display=swap');

:root {
	--primary-color: #3a4052;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Alex Brush', sans-serif;
	line-height: 1.5;
	
}

a {
	text-decoration: none;
	color: var(--primary-color);
}

h1 {
	font-weight: 300;
	font-size: 60px;
	line-height: 1.2;
	margin-bottom: 15px;
}

h2 {
	font-family: 'Bilbo', sans-serif;
	font-weight: 300;
	font-size: 50px;
	line-height: 1.2;
	margin-bottom: 15px;
}

p {
	font-family: 'Bilbo', sans-serif;
	font-weight: 300;
	font-size: 35px;
	line-height: 1.2;
	margin-bottom: 15px;
}




.content {
	z-index: 2;
	border: 0px solid red;
	width: 90%;
	height: 100%;
}

/* Formato letras botones */
.btn {
	font-family: 'Anaheim', sans-serif;
	display: inline-block;
	padding: 10px 30px;
  background-color: black;
    cursor: pointer;
	color: #fff;
	border-radius: 5px;
	border: solid #fff 1px;
	margin-top: 25px;
	opacity: 1;
	  transition: 0.3s;
  text-decoration: none;
}

.btn:hover {
	transform: scale(0.90);
	  background-color: yellow;
  color: black;
  box-shadow: 4px 4px 6px 0px rgba(0,0,0,0.75);
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fed206+1,fcf9ea+10,fed206+58,ff0000+100 */
background: #fed206; /* Old browsers */
background: -moz-linear-gradient(top,  #fed206 1%, #fcf9ea 10%, #fed206 58%, #ff0000 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #fed206 1%,#fcf9ea 10%,#fed206 58%,#ff0000 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #fed206 1%,#fcf9ea 10%,#fed206 58%,#ff0000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fed206', endColorstr='#ff0000',GradientType=0 ); /* IE6-9 */

}

/* Formato boton musica */
    .switch {
      position: relative;
      display: inline-block;
      width: 60px;
      height: 34px;
	  opacity: 0.9;
    }

    .switch input {
      display: none;
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #c99c;
      -webkit-transition: .4s;
      transition: .4s;
	  border-radius: 10px 10px 10px 10px;
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
	  border-radius: 7px 7px 7px 7px;
    }

    input:checked + .slider {
      background-color: red;

    }

    input:focus + .slider {
      box-shadow: 0 0 1px #2196F3;

    }

    input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }

    /* Add the following CSS styles for button melodia formatting */
    button {
		font-family: 'Anaheim', sans-serif;
	font-weight: 300;
	font-size: 20px;
	line-height: 1.2;
      background-color: white;
      color: black;
      padding: 10px 20px;
      border: none;
      cursor: pointer;
      margin-left: 10px; /* Add margin to separate the button and the switch */
	  opacity: 0.6;
	border-radius: 0px 0px 15px 15px;
    }



}

.format
{

  padding: 10px;
  text-align: center;
  margin-bottom: 20px;
  
	background: var(--primary-color) url('../parrilla.jpg') no-repeat center
}

.con {
	flex-basis: 100%;
	padding: 10px;}

.con2 {
	flex-basis: 100%;
	padding: 10px; }
			
			
@media screen and (max-width: 767px) {
	.con {
		flex-basis: 100%;
	}
			
	.con2 {
		flex-basis: 100%;
	}
			
	}