body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.wtp {
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input {
    padding: 10px;
    width: 80%;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #25D366;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #128C7E;
}

a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    visibility: hidden;
}

a:hover {
    background-color: #0056b3;
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.btn {
    display: inline-block;
    padding: 10px 30px;
    background-color: black;
    cursor: pointer;
    color: #fff;
    border-radius: 5px;
    border: solid #fff 1px;
    margin-top: 25px;
    opacity: 1;
    transition: 0.3s;
    text-decoration: none;
}

.btn:hover {
    transform: scale(0.90);
    background-color: yellow;
    color: white;
    box-shadow: 4px 4px 6px 0px rgba(0,0,0,0.75);
    text-shadow: 1px 1px 1px black;
    background: linear-gradient(to bottom, #969696 1%, #fcf9ea 17%, #5b5b5b 33%, #5b5b5b 100%);
}
