:root {
    --primary-color: #3a4052;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {

    font-family: 'Oswald', sans-serif;
    font-weight: 300; /* Light */
	font-size: 20px;



    line-height: 1.5;
	color: #000;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: 600; /* SemiBold */
    font-size: 60px;
    line-height: 1.2;
    margin-bottom: 15px;
}


img {
    border-radius: 10px; /* Adjust the value for more or less roundness */
}


.showcase {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 20px;
}

.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: var(--primary-color) url('../background01.jpg') no-repeat center center/cover;
}

.video-container video {
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

.video-container:after {
    content: '';
    z-index: 1;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.0);
    position: fixed;
    object-fit: cover;
}

.content {
    z-index: 2;
    border: 0px solid red;
    width: 90%;
    height: 100%;
}

.btn {
    display: inline-block;
    padding: 10px 30px;
    background-color: black;
    cursor: pointer;
    color: #fff;
    border-radius: 5px;
    border: solid #fff 1px;
    margin-top: 25px;
    opacity: 1;
    transition: 0.3s;
    text-decoration: none;
}

.btn:hover {
    transform: scale(1.10);
    background-color: yellow;
    color: White;
    box-shadow: 4px 4px 6px 0px rgba(0,0,0,0.75);
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fceabb+0,fccd4d+50,f8b500+51,fbdf93+100;Orange+3D+%235 */
    background: linear-gradient(to bottom,  #B52843 0%,#CE6459 50%,#CE6459 51%,#EC4438 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}



        .logo {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 60%;
            height: auto;
            margin: 0 auto;
            margin-bottom: 0px;
            border: solid #fff 0px;
            box-sizing: border-box;
            filter: drop-shadow(1px 1px 0px rgba(0, 0, 0, 1));
			
        }


#about {
    padding: 40px;
    text-align: center;
}

#about p {
    font-size: 1.2rem;
    max-width: 600px;
    margin: auto;
}

#about h2 {
    margin: 30px 0;
    color: var(--primary-color);
}

.social a {
    margin: 0 5px;
}

.format {
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
    background: var(--primary-color) url('../background01.jpg') no-repeat center
}

.con {
    flex-basis: 100%;
    padding: 10px;
}

.con2 {
    flex-basis: 50%;
    padding: 10px;
}

.icon-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
    gap: 15px;
    padding: 15px;
    justify-items: center;
}

.icon-item {
    padding: 15px;
}

.icon-item img {
    max-width: 100%;
    height: auto;
}



.tittle {
	font-weight: 600;
    font-size: 30px;
    line-height: 1.2;
    margin-bottom: 15px;
	color: #fff;
	padding: 10px 30px;
	border: 2px solid #ffffff;
	border-radius: 5px;
	margin-top: 35px;
	
}



/* accordion */
.accordion {
    background: linear-gradient(135deg, rgba(255, 255, 255, 1) 30%, rgba(55, 63, 76, .5) 95%);
    color: #000;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: 0px solid white;
    font-family: 'Oswald', sans-serif;
    text-align: left;
	font-weight: 600;
    font-size: 30px;
    outline: none;
    transition: 0.4s;
    border-radius: 10px;
}

.active, .accordion:hover {
    color: black;
    box-shadow: 4px 4px 6px 0px rgba(0,0,0,0.75);
    color: #fff;
	font-weight: 600;
    font-size: 30px;
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#969696+1,fcf9ea+17,5b5b5b+33,5b5b5b+100 */
    background: linear-gradient(to bottom, #969696 5%, #fcf9ea 17%, #5b5b5b 33%, #5b5b5b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
   border: 0px solid white;
}

.accordion:after {
    content: '\002B';
    color: #fff;
    font-weight: bold;
	font-size: 30px;
    float: right;
    margin-left: 5px;
	  /* border: 5px solid green; */
}

.active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
	margin-top: 1px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.accordionfont {
    align-items: center;
    /* justify-content: initial; */
    text-align: justify;
    color: black;
    margin-top: 15px;
    margin-bottom: 15px;
}

ul { margin-left: 30px; }

.responsive-image {
    width: 90vw; /* 90% of viewport width */
    max-width: 100%; /* Ensure it doesn't exceed the image's original size */
    height: auto; /* Maintain aspect ratio */
}


/* end accordion */
