@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

:root {
	--primary-color: #3a4052;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Open Sans', sans-serif;
	line-height: 1.5;
}

a {
	text-decoration: none;
	color: var(--primary-color);
}

h1 {
	font-weight: 300;
	font-size: 60px;
	line-height: 1.2;
	margin-bottom: 15px;
}



.showcase {
	position: relative;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: #fff;
	padding: 0 20px;
}



.video-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: var(--primary-color) url('./parrilla.jpg') no-repeat center
		center/cover;
}

.video-container video {
		  position: -webkit-sticky;
  position: sticky;
	min-width: 100%;
	min-height: 100%;
  position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	object-fit: cover;
	
}

.video-container:after {
	content: '';
	z-index: 1;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.0);
	position: absolute;
	object-fit: cover;
	

}

.content {
	z-index: 2;
	border: 0px solid red;
	width: 90%;
	height: 100%;
}

.btn {
	display: inline-block;
	padding: 10px 30px;
  background-color: black;
    cursor: pointer;
	color: #fff;
	border-radius: 5px;
	border: solid #fff 1px;
	margin-top: 25px;
	opacity: 1;
	  transition: 0.3s;
  text-decoration: none;
}

.btn:hover {
	transform: scale(0.90);
	  background-color: yellow;
  color: black;
  box-shadow: 4px 4px 6px 0px rgba(0,0,0,0.75);
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fed206+1,fcf9ea+10,fed206+58,ff0000+100 */
background: #fed206; /* Old browsers */
background: -moz-linear-gradient(top,  #fed206 1%, #fcf9ea 10%, #fed206 58%, #ff0000 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #fed206 1%,#fcf9ea 10%,#fed206 58%,#ff0000 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #fed206 1%,#fcf9ea 10%,#fed206 58%,#ff0000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fed206', endColorstr='#ff0000',GradientType=0 ); /* IE6-9 */

}

#about {
	padding: 40px;
	text-align: center;
}

#about p {
	font-size: 1.2rem;
	max-width: 600px;
	margin: auto;
}

#about h2 {
	margin: 30px 0;
	color: var(--primary-color);
}

.social a {
	margin: 0 5px;
}

.format
{
  border: 1;

  width: 100%;
  padding: 10px;
  text-align: center;
  margin-bottom: 20px;
  
	background: var(--primary-color) url('./../parrilla.jpg') no-repeat center
}

		.con {
			flex-basis: 100%;
			padding: 10px;}

		.con2 {
			flex-basis: 100%;
			padding: 10px; }
			

			
			
		@media screen and (max-width: 767px) {
			.co {
				flex-basis: 100%;
			}
			
			.con2 {
				flex-basis: 100%;
			}
			
		}