@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400&display=swap');

:root {
    --primary-color: #3a4052;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   border: 5px solid green; */
}

body {
    font-family: 'Kanit', sans-serif;
    line-height: 1.5;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#B9ADD5+5,000000+57 */
	background: linear-gradient(45deg, #B9ADD5 5%, #000000 57%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
/*   border: 5px solid green; */
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

h1 {
    font-weight: 300;
    font-size: 60px;
    line-height: 1.2;
    margin-bottom: 15px;
}

img {
    border-radius: 5%;
}

.showcase {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #CACAC8;
    padding: 0 20px;
    width: 100%;
    background-position: left top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto;
    position: relative;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#B9ADD5+5,000000+57 */
    background: linear-gradient(45deg, #B9ADD5 5%, #000000 57%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    /* border: 5px solid blue; */
}



.content {
    z-index: 2;
    border: 0px solid red;
    width: 90%;
    height: 100%;
}

.btn {
    display: inline-block;
    padding: 10px 30px;
    background-color: black;
    cursor: pointer;
    color: #fff;
    border-radius: 5px;
    border: solid #fff 1px;
    margin-top: 25px;
    opacity: 1;
    transition: 0.3s;
    text-decoration: none;
}

.btn:hover {
    transform: scale(0.90);
    background-color: yellow;
    color: white;
    box-shadow: 4px 4px 6px 0px rgba(0,0,0,0.75);
    text-shadow: 1px 1px 1px black;
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#969696+1,fcf9ea+17,5b5b5b+33,5b5b5b+100 */
    background: linear-gradient(to bottom, #969696 1%, #fcf9ea 17%, #5b5b5b 33%, #5b5b5b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

#about {
    padding: 40px;
    text-align: center;
}

#about p {
    font-size: 1.2rem;
    max-width: 600px;
    margin: auto;
}

#about h2 {
    margin: 30px 0;
    color: var(--primary-color);
}

.social a {
    margin: 0 5px;
}

.format {
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
    background: var(--primary-color) url('../bg01.svg') no-repeat center;
    background-size: cover;
}

.con {
    flex-basis: 100%;
    padding: 10px;
}

.con2 {
    flex-basis: 50%;
    padding: 10px;
}

/* accordion */
.accordion {
    background: linear-gradient(135deg, rgba(220, 230, 223, 1) 20%, rgba(255, 255, 255, 1) 95%);
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: 0px solid white;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active, .accordion:hover {
    color: white;
    box-shadow: 4px 4px 6px 0px rgba(0,0,0,0.75);
    background-color: #ccc;
    background: linear-gradient(to bottom, #969696 1%, #fcf9ea 17%, #5b5b5b 33%, #5b5b5b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    border: 0px;
}

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.accordionfont {
    align-items: center;
    justify-content: initial;
    text-align: justify;
    color: black;
    margin-top: 15px;
    margin-bottom: 15px;
}

/* end accordion */

/* wtp */

.wtp {
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input {
    padding: 10px;
    width: 80%;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #25D366;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #128C7E;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

a.hidden-btn {
    display: none;
}

a.visible-btn {
    display: inline-block;
}

/* end wtp */






/* Set the image to fill 90% of the viewport width */
.responsive-image {
    width: 90vw; /* 90% of viewport width */
    max-width: 100%; /* Ensure it doesn't exceed the image's original size */
    height: auto; /* Maintain aspect ratio */
}

/* end responsive-image */








@media screen and (max-width: 767px) {
    .con {
        flex-basis: 100%;
    }
    
    .con2 {
        flex-basis: 100%;
    }
}
