@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

:root {
	--primary-color: #3a4052;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;


}

body {
	font-family: 'Open Sans', sans-serif;
	line-height: 1.5;
/*  	border: 5px solid green; */
}

a {
	text-decoration: none;
	color: var(--primary-color);
}

h1 {
	font-weight: 300;
	font-size: 60px;
	line-height: 1.2;
	margin-bottom: 15px;
}



img {
  border-radius: 5%;
}


.showcase {


	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: #F2CA50;
	text-shadow: 2px 2px 5px white;
	padding: 0 20px;


  background: url(../bg01.jpg);
  width: 100%;
  background-position: left bottom;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 100% 100%;
  position: relative;
  /*	border: 5px solid blue; */
}



.video-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;

		center/cover;
}



.video-container video {
		  position: -webkit-sticky;
  position: sticky;
	min-width: 100%;
	min-height: 100%;
  position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	object-fit: cover;
/*	border: 5px solid red; */
	
}

.video-container:after {
	content: '';
	z-index: 1;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.0);
	position: absolute;
	object-fit: cover;
	

}




.content {
	z-index: 2;
	border: 0px solid red;
	width: 90%;
	height: 100%;
}

.btn {
	display: inline-block;
	padding: 10px 30px;
  background-color: black;
    cursor: pointer;
	color: #fff;
	border-radius: 5px;
	border: solid #fff 1px;
	margin-top: 25px;
	opacity: 1;
	  transition: 0.3s;
  text-decoration: none;
}

.btn:hover {
	transform: scale(0.90);
	  background-color: yellow;
  color: white;
  box-shadow: 4px 4px 6px 0px rgba(0,0,0,0.75);
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#d9b855+1,fcf9ea+17,a6882e+33,d9b855+100 */
background: linear-gradient(to bottom,  #d9b855 1%,#fcf9ea 17%,#a6882e 33%,#d9b855 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */



}

#about {
	padding: 40px;
	text-align: center;
}

#about p {
	font-size: 1.2rem;
	max-width: 600px;
	margin: auto;
}

#about h2 {
	margin: 30px 0;
	color: var(--primary-color);
}

.social a {
	margin: 0 5px;
}

.format
{

  padding: 10px;
  text-align: center;
  margin-bottom: 20px;
  
	background: var(--primary-color) url('../bg01.svg') no-repeat center;
   background-size: cover;	
}

.con {
	flex-basis: 100%;
	padding: 10px;}

.con2 {
	flex-basis: 50%;
	padding: 10px; }
			
			
@media screen and (max-width: 767px) {
	.con {
		flex-basis: 100%;
	}
			
	.con2 {
		flex-basis: 100%;
	}
			
	}