:root {
    --primary-color: #3a4052;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {

    font-family: 'Inter', sans-serif;
    font-weight: 300; /* Light */
	font-size: 14px;
    line-height: 1.5;
	color: #000;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

strong {
    font-weight: 700; /* or any higher value if needed */
}

img {
    border-radius: 10px; /* Adjust the value for more or less roundness */
}


.showcase {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 20px;
}

.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: var(--primary-color) url('../TGVbg01.svg') no-repeat center center/cover;
}

.video-container video {
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

.video-container:after {
    content: '';
    z-index: 1;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.0);
    position: fixed;
    object-fit: cover;
}

.content {
    z-index: 2;
    border: 0px solid red;
    width: 90%;
    height: 100%;
}

/*   language-selector buttons */
.language-selector {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin: 20px 0;
}

.language-buttons {
  display: flex;
  justify-content: center;     /* Center buttons horizontally */
  align-items: center;         /* Align vertically if needed */
  gap: 20px;                   /* Space between buttons */
  margin-top: 20px;            /* Optional: space from top */
  flex-wrap: wrap;             /* Helps on small screens */
}

.lang-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 50px;
  font-size: 16px;
  border: 2px solid #007bff;
  border-radius: 10px;
  background-color: white;
  color: #007bff;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: 600;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Hover effect for non-selected buttons */
.lang-btn:hover:not(.selected-lang) {
  color: black;
  border-color: black;
  background-color: #f0f0f0;
  transform: scale(1.05);
}

/* Selected button style */
.lang-btn.selected-lang {
  background-color: yellow;
  color: black;
  border-color: yellow;
  box-shadow: 0 0 10px rgba(255, 255, 0, 0.6);
}

/*  end language-selector buttons */






.btn {
    display: inline-block;
    padding: 10px 10px;
    background-color: black;
    cursor: pointer;
    color: #fff;
    border-radius: 5px;
    border: solid #fff 1px;
    margin-top: 25px;
    opacity: 1;
    transition: 0.3s;
    text-decoration: none;
}

.btn:hover {
    transform: scale(1.10);
    background-color: yellow;
    color: White;
    box-shadow: 4px 4px 6px 0px rgba(0,0,0,0.75);
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fceabb+0,fccd4d+50,f8b500+51,fbdf93+100;Orange+3D+%235 */
    background: linear-gradient(to bottom,  #B52843 0%,#CE6459 50%,#CE6459 51%,#EC4438 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}



        .logo {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: auto;
            margin: 0 auto;
            margin-bottom: 0px;
            border: solid #fff 0px;
            box-sizing: border-box;
            filter: drop-shadow(1px 1px 0px rgba(0, 0, 0, 1));
			
        }


#about {
    padding: 40px;
    text-align: center;
}

#about p {
    font-size: 1.2rem;
    max-width: 600px;
    margin: auto;
}

#about h2 {
    margin: 30px 0;
    color: var(--primary-color);
}

.social a {
    margin: 0 5px;
}

.format {
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
    background: var(--primary-color) url('../background01.jpg') no-repeat center
}

.con {
    flex-basis: 100%;
    padding: 10px;
}

.con2 {
    flex-basis: 50%;
    padding: 10px;
}

.icon-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
    gap: 15px;
    padding: 15px;
    justify-items: center;
}

.icon-item {
    padding: 15px;
}

.icon-item img {
    max-width: 100%;
    height: auto;
}



.tittle {
	font-weight: 600;
    font-size: 30px;
    line-height: 1.2;
    margin-bottom: 15px;
	color: #fff;
	padding: 10px 30px;
	border: 2px solid #ffffff;
	border-radius: 5px;
	margin-top: 35px;
	
}



/* accordion */

.accordionfont li {
    margin-bottom: 25px;
}

.accordion {
    background: linear-gradient(135deg, rgba(255, 255, 255, 1) 30%, rgba(55, 63, 76, .5) 95%);
    color: #000;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: 0px solid white;
    font-family: 'Inter', sans-serif;
    text-align: left;
	font-weight: 600;
    font-size: 30px;
    outline: none;
    transition: 0.4s;
    border-radius: 10px;
}

.accordion.active,
.accordion:hover {
    color: black;
    box-shadow: 4px 4px 6px 0px rgba(0,0,0,0.75);
    color: #fff;
	font-weight: 600;
    font-size: 30px;
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#969696+1,fcf9ea+17,5b5b5b+33,5b5b5b+100 */
    background: linear-gradient(to bottom, #969696 5%, #fcf9ea 17%, #5b5b5b 33%, #5b5b5b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
   border: 0px solid white;
}

.button.accordion:after {
    content: '\002B';
    color: #fff;
    font-weight: bold;
	font-size: 30px;
    float: right;
    margin-left: 5px;
	  /* border: 5px solid green; */
}

.button.accordion.active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
	margin-top: 1px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.accordionfont {
    align-items: center;
    /* justify-content: initial; */
    text-align: justify;
    color: black;
    margin-top: 15px;
    margin-bottom: 25px;

}

ul { margin-left: 30px; }

.responsive-image {
    width: 90vw; /* 90% of viewport width */
    max-width: 100%; /* Ensure it doesn't exceed the image's original size */
    height: auto; /* Maintain aspect ratio */
}


/* end accordion */




/* IAID-share */

.wtp {
    text-align: center;
    justify-content: center;
    width: 80%;
    padding: 10px 20px;
    border: solid #fff 2px;
    border-radius: 10px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.7) 40%, rgba(255, 255, 255, 0) 80%);
	/*  border: 5px solid green; */
}

input {
    padding: 10px;
    width: 50%;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #25D366;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #128C7E;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

a.hidden-btn {
    display: none;
}

a.visible-btn {
    display: inline-block;
	    text-align: center;
}

/* end IAID-share */

	

/* share page back and refresh buttons */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.button-container {
    display: flex;
    justify-content: center;
    gap: 20px; /* Add some spacing between the two buttons */
    margin-top: 30px; /* Adjust margin as needed */
}

/* end of share page back and refresh buttons */